@mixin appgerardg-blur-1 {
  box-shadow: inset 0 0 0 200px rgba(0, 0, 0, 0.05);
  filter: blur(0.05rem) !important;
  backdrop-filter: blur(0.5rem) !important;
  // filter: blur(50px);
}

@mixin appgerardg-blur-2 {
  box-shadow: inset 0 0 0 5rem rgba(255, 255, 255, 0.05) !important;
  filter: blur(0.25rem) !important;
  backdrop-filter: blur(0.8rem) !important;
  // filter: blur(50px);
}
