.appgerardg-h1 {
  font-size: $appgerardg-h1-font-size !important;
  color: $appgerardg-default-font-color;
  // @include respond(phone) {
  //   font-size: 0rem !important;
  // }
  // @include respond(tab-port) {
  //   font-size: 0rem !important;
  // }
  // @include respond(tab-land) {
  //   font-size: 0rem !important;
  // }
  // @include respond(big-desktop) {
  //   font-size: 0rem !important;
  // }
}

.appgerardg-h2 {
  font-size: $appgerardg-h2-font-size !important;
  color: $appgerardg-default-font-color;
  // @include respond(phone) {
  //   font-size: 0rem !important;
  // }
  // @include respond(tab-port) {
  //   font-size: 0rem !important;
  // }
  // @include respond(tab-land) {
  //   font-size: 0rem !important;
  // }
  // @include respond(big-desktop) {
  //   font-size: 0rem !important;
  // }
}

.appgerardg-h3 {
  font-size: $appgerardg-h3-font-size !important;
  color: $appgerardg-default-font-color;
  // @include respond(phone) {
  //   font-size: 0rem !important;
  // }
  // @include respond(tab-port) {
  //   font-size: 0rem !important;
  // }
  // @include respond(tab-land) {
  //   font-size: 0rem !important;
  // }
  // @include respond(big-desktop) {
  //   font-size: 0rem !important;
  // }
}

.appgerardg-h4 {
  font-size: $appgerardg-h4-font-size !important;
  color: $appgerardg-default-font-color;
  // @include respond(phone) {
  //   font-size: 0rem !important;
  // }
  // @include respond(tab-port) {
  //   font-size: 0rem !important;
  // }
  // @include respond(tab-land) {
  //   font-size: 0rem !important;
  // }
  // @include respond(big-desktop) {
  //   font-size: 0rem !important;
  // }
}

.appgerardg-h5 {
  font-size: $appgerardg-h5-font-size !important;
  color: $appgerardg-default-font-color;
  // @include respond(phone) {
  //   font-size: 0rem !important;
  // }
  // @include respond(tab-port) {
  //   font-size: 0rem !important;
  // }
  // @include respond(tab-land) {
  //   font-size: 0rem !important;
  // }
  // @include respond(big-desktop) {
  //   font-size: 0rem !important;
  // }
}

.appgerardg-h6 {
  font-size: $appgerardg-h6-font-size !important;
  color: $appgerardg-default-font-color;
  // @include respond(phone) {
  //   font-size: 0rem !important;
  // }
  // @include respond(tab-port) {
  //   font-size: 0rem !important;
  // }
  // @include respond(tab-land) {
  //   font-size: 0rem !important;
  // }
  // @include respond(big-desktop) {
  //   font-size: 0rem !important;
  // }
}

.appgerardg-p {
  font-size: $appgerardg-p-font-size !important;
  color: $appgerardg-default-font-color;
  // @include respond(phone) {
  //   font-size: 0rem !important;
  // }
  // @include respond(tab-port) {
  //   font-size: 0rem !important;
  // }
  // @include respond(tab-land) {
  //   font-size: 0rem !important;
  // }
  // @include respond(big-desktop) {
  //   font-size: 0rem !important;
  // }
}
